
/* Add your CSS styles here */
body {
    background-image: url(/background4.jpg);
    background-size: cover;
    background-position: center;
    color: black;
    /* Set text color to white */
    font-family: 'Your Attractive Font', sans-serif;
    /* Replace 'Your Attractive Font' with the desired font name */
}

#contact {
    text-align: center;
    margin-top: 200px;
}

#contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Customize navbar styles */
.navbar {
    font-size: 20px;
    /* Increase the text size */
    color: black;
    /* Set text color to white */
    position: relative;
    /* Add relative positioning */
    z-index: 1;
    /* Set a higher z-index to keep it above the blurred image */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Add box shadow to the navbar */
}

.navbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    /* Apply the blur effect to the background */
    z-index: -1;
    /* Set a lower z-index to place it behind the navbar */
}

.navbar-nav {
    margin: auto;
    /* Center the navbar */
    align-items: center;
    /* Center the navbar vertically */
    justify-content: center;
    /* Center the navbar horizontally */
}

.navbar-nav .nav-link {
    color: black;
    /* Set text color to white */
}

/* Add any additional CSS styles as needed */
/* Customize the scrollbar for webkit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Set the background color of the track to transparent */
}

::-webkit-scrollbar-thumb {
    background: gray;
    /* Set the color of the scrollbar handle to gray */
}

/* Customize the scrollbar for Mozilla Firefox */
/* Note: Mozilla Firefox supports customizing the scrollbar from version 64 onwards */
/* You may need to use vendor-specific prefixes for earlier versions of Firefox */

/* Set the width and color of the scrollbar */
