
/* Add your custom CSS styles here */
body {
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    background-image: url(/background5.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    /* Set text color to white */
    font-family: sans-serif;
    /* Set font style to sans-serif */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.navbar {
    font-size: 20px;
    /* Increase the text size */
    position: relative;
    /* Add relative positioning */
    z-index: 1;
    /* Set a higher z-index to keep it above the blurred image */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Add box shadow to the navbar */
    backdrop-filter: blur(10px);
    /* Apply the blur effect to the navbar */
    margin-bottom: 50px;
    /* Add margin-bottom of 50px */
}

.navbar-nav {
    margin: auto;
    /* Center the navbar */
    align-items: center;
    /* Center the navbar vertically */
    justify-content: center;
    /* Center the navbar horizontally */
}

.navbar-nav .nav-link {
    color: white;
    /* Set text color to white */
}

.projects-heading {
    color: white;
    /* Set text color to white */
    text-align: center;
    /* Center the text */
    margin-top: 50px;
    /* Add top margin of 50px */
    margin-bottom: 50px;
}

.container {
    position: relative;
    /* Set relative positioning */
    z-index: 2;
    /* Set a higher z-index to keep it above the blurred background */
    backdrop-filter: blur(10px);
    /* Apply the blur effect to the container */
    padding: 20px;
    /* Add padding to the container */
}

.company-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.company-section img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 50%;
}

/* Customize the scrollbar for webkit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Set the background color of the track to transparent */
}

::-webkit-scrollbar-thumb {
    background: gray;
    /* Set the color of the scrollbar handle to gray */
}

/* Customize the scrollbar for Mozilla Firefox */
/* Note: Mozilla Firefox supports customizing the scrollbar from version 64 onwards */
/* You may need to use vendor-specific prefixes for earlier versions of Firefox */

/* Set the width and color of the scrollbar */